<div class="table-responsive">
    <table class="table table-bordered table-stripped custom-table">
        <thead>
            <tr>
                <th *ngFor="let column of columns" class="custom-header">{{ column }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let language of languages">
                <td>{{ language.languageCode }}</td>
                <td>{{ language.name }}</td>
                <td>{{ language.description }}</td>
            </tr>
        </tbody>
    </table>
</div>